.error-404 {
	padding-bottom: $base_size * 3;

	@media (min-width: $medium) {
		padding-bottom: $base_size * 6;
	}

	h1 {
		padding-top: $base_size;
		padding-bottom: $base_size;
		text-align: center;
	}

	.no-results-message {
		font-size: $base_font_size * 2;
		text-align: center;
	}

	.search-form {
		label {
			display: inline-block;
			width: calc(100% - 70px);

			@media (min-width: $large) {
				width: calc(100% - 90px);
			}
		}

		.search-submit {
			display: inline-block;
			height: 40px;

			@media (min-width: $large) {
				padding: $base_size $base_size * 2;
				background-color: $purple;
			}
		}

		.screen-reader-text {
			font-size: $base_font_size * 1.4;
		}
	}
}
