.comments-area {
	// All comments section

	.container-comment-area {
		margin-top: $base_size * 3;
		margin-bottom: $base_size * 6;
		padding: $base_size * 3 0 0;
		border-top: 1px solid $brand_grey;
	}

	.container-comments-title {
		text-align: center;
	}

	h2.comments-title {
		text-transform: uppercase;
	}

	.container-comment-list {
		list-style-type: none;
		margin: 0;
	}

	li.comment {
		margin-top: $base_size * 4;
		margin-bottom: $base_size * 4;
		padding: $base_size * 1.6;
		background-color: $grey_lightest;

		.vcard {
			margin: 0;
			padding: 0;
			border: none;

			img {
				border-radius: 50%;
			}
		}

		.comment_meta {
			margin-top: $base_size;
			margin-bottom: $base_size;

			@media (min-width: $medium) {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.author-name {
			text-transform: uppercase;
		}

		.author-name,
		.date,
		.time {
			margin-top: $base_size * 0.3;
			margin-bottom: 0;
		}

		.date {
			margin-right: $base_size * 0.3;
		}
	}

	// Post a comment section

	.comment-respond {
		position: relative;
		padding: $base_size * 2 0;

		@media (min-width: $medium) {
			padding: $base_size * 5 23% $base_size * 3;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			margin-left: -0.9375rem;
			margin-right: -0.9375rem;
			background-color: $grey_lightest;
		}

		p {
			margin-bottom: $base_size * 2;
		}

		.comment-reply-title {
			text-align: center;
			text-transform: uppercase;
		}

		textarea[name="comment"],
		input[name="author"],
		input[name="email"] {
			background: $white;
			border: 1px solid $grey_lighter;
		}

		textarea[name="comment"] {
			height: 150px;
			margin-bottom: $base_size;
			padding: 10px 13px;
			resize: none;
		}

		input[type="submit"] {
			border: 0;
			outline: none;
			display: inline-block;
			margin: $base_size 0;
			padding: $base_size * 0.5 $base_size;
			border: 1px solid $white;
			font-size: $base_font_size * 1.6;
			font-weight: 700;
			line-height: 50px;
			text-transform: uppercase;
			background-color: $purple;
			color: $white;
			text-align: center;

			&:hover,
			&:active,
			&:focus {
				background-color: $purple_dark;
			}
		}

		.respond-inputs {
			@extend .clearfix;
			margin: 0 -5px;
		}

		.comment-form-author,
		.comment-form-email {
			float: left;
			width: 50%;
			padding: 0 5px;

			input {
				margin: 0;
			}
		}

		.form-submit {
			text-align: center;
		}
	}
}
