footer {
	padding-top: $base_size * 2;
	padding-bottom: $base_size * 2;
	background-color: $purple;
	color: $white;

	.container_footer_logo {
		position: relative;
	}

	.footer_logo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0.1;
	}

	.footer-area {
		padding-top: $base_size;
		padding-bottom: $base_size;

		&:nth-child(4) {
			clear: both;

			@media (min-width: $medium) {
				clear: none;
			}
		}
	}

	h6 {
		font-size: $base_font_size * 1.8;
		text-transform: uppercase;
		font-weight: bold;
		color: $white;
	}

	a {
		display: block;
		margin-top: $base_size;
		margin-bottom: $base_size;
		font-size: $base_font_size * 1.6;
		color: $white;

		&:hover {
			font-weight: 700;
			color: $brand_grey;
		}
	}
}
