html,
body {
	background-color: rgba(0,0,0,0);
	background-color: transparent;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: $font_oswald;
	font-size: $base_font_size;
	color: $text;

	@media (min-width: $medium) {
		font-size: $base_font_size*1.4;
	}
}

ol,
ul,
li,
a,
span {
	font-size: $base_font_size;

	@media (min-width: $medium) {
		font-size: $base_font_size*1.4;
	}
}

p {
	font-size: $base_font_size*1.2;

	@media (min-width: $medium) {
		font-size: $base_font_size*1.4;
	}
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_oswald;
}

a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	color: $link;
	cursor: pointer;
	outline: none;
	text-decoration: none;

	&:active,
	&:hover {
		color: lighten($link, 10%);
	}

}

img {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	display: inline-block;
	margin: $base_size 0;
	padding: $base_size*0.5 $base_size;
	background-color: $purple;
	border: 1px solid $white;
	text-align: center;
	color: $white;
	text-decoration: none;

	@media (min-width: $large) {
		padding: $base_size $base_size*2;
	}

	@media (min-width: $large) {
		background-color: transparent;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: $purple_dark;
	}
}

.read-more {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	text-transform: uppercase;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		width: 0;
		height: 0;
		margin-left: 5px;
		border-style: solid;
		border-width: 8px 0 8px 10px;
		border-color: transparent transparent transparent $purple;
		opacity: 0;
		transform-style: preserve-3d;
		transform: translate3d(-15px, -50%, 0px);
		transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	}

	&:hover:after {
		transform: translate3d(0px, -50%, 0px);
		opacity: 1;
	}
}

.divider {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 2px;
	background-color: $purple;
	margin: 0 auto;

	@media (min-width: $medium) {
		display: none;
	}
}



