header {
	padding-top: $base_size*2;
	padding-bottom: $base_size*2;
	background-color: $purple_light;

	@media (min-width: $medium) {
		padding-top: $base_size*3;
		padding-bottom: $base_size*3;
	}

	a, img {
		cursor: pointer;
	}

	.header-top {

		a {
			display: inline-block;
			vertical-align: middle;
		}

		.container-header-left {

			a:first-child img {
				width: 11px;
			}

			a:nth-child(2) img {
				width: 22px;
			}

			img {
				width: 20px;
				margin-right: $base_size;
			}

		}

		.container-header-middle {
			text-align: center;
		}

		.container-header-right {
			text-align: right;

			img {
				width: 18px;
			}

			img, a {
				margin-left: $base_size;
			}

		}

	}

	.header-middle {

		input {
			max-height: 0;
			overflow: hidden;
			margin-top: $base_size*2;
			margin-bottom: $base_size*2;
			padding: 0 $base_size;
			border: none;
			transition: all 0.4s ease;

			&.active {
				max-height: $base_size*4;
				padding: $base_size $base_size;
				border: 1px solid $grey_light;
			}
		}

	}

	.header-bottom {

		ul.header-continents {
			list-style-type: none;
			margin: 0;
		}

		li {
			position: relative;
			float: left;
			width: 14.28%;
			text-align: center;
			overflow: hidden;
			height: 64px;

			&.active a span:first-child {
				transform: translate3d(0,0,0);
			}

			@media (min-width: 440px) and (max-width: $medium) {
				height: 84px;
			}

			@media (min-width: $medium) {
				height: 100px;
			}

			@media (min-width: $large) {
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;				
					border-bottom: 2px solid $purple_dark;
					opacity: 0;
					transition: opacity 0.4s ease-in-out;
				}

				&.active:before,
				&:hover:before {
					opacity: 1;
				}
			}

		}

		a {
			display: block;
			text-transform: uppercase;
			padding: $base_size*0.5 0 $base_size;

			img {
				margin-top: $base_size*2;

				@media (min-width: $medium) {
					margin-top: 0;
				}

				&.icon_africa {
					width: 45%;
					max-width: 36px;
				}

				&.icon_antarctica {
					width: 50%;
					max-width: 43px;
				}

				&.icon_asia {
					width: 60%;
					max-width: 50px;
				}

				&.icon_australia {
					width: 55%;
					max-width: 54px;
				}

				&.icon_europe {
					width: 65%;
					max-width: 60px;
				}

				&.icon_north_america {
					width: 80%;
					max-width: 74px;
				}

				&.icon_south_america {
					width: 35%;
					max-width: 30px;
				}

			}

			span:first-child {
				position: absolute;
				display: block;
				width: 100%;
				font-size: $base_size*0.8;
				transform: translate3d(100%,0,0);
				transition: transform 0.4s ease-in-out;

				@media (min-width: $medium) {
					position: relative;
					width: auto;
					margin-bottom: $base_size;
					font-size: initial;
					transform: translate3d(0,0,0);
				}

				&.text_long {
					width: 116%;
				}

				&.active {
					transform: translate3d(0,0,0);
				}
				
			}

			span:last-child {
				position: absolute;
				bottom: 0;
				display: block;
				width: 100%;
				font-size: $base_size*0.8;
				transform: translate3d(-100%,0,0);
				transition: transform 0.4s ease-in-out;

				@media (min-width: $medium) {
					display: none;
				}

				&.active {
					transform: translate3d(0,0,0);
				}
			}
		}
		
	}

	
}

