.lightbox {
	// position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	visibility: hidden;
	opacity: 0;

	&.lightbox_open {
		z-index: 10;
		visibility: visible;
		opacity: 1;

		.lightbox_content {
			opacity: 1;
		}

		.lightbox_overlay {
			opacity: 1;
		}

		.container_lightbox_content {
			opacity: 1;
			animation-name: anim-open;
			animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
			animation-duration: 0.4s;
			animation-fill-mode: forwards;
		}
	}

	&.lightbox_close {
		.container_lightbox_content {
			animation-name: anim-close;
			animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
			animation-duration: 0.4s;
			animation-fill-mode: forwards;
		}
	}

	.lightbox_overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.8);
		opacity: 0;
		transition: 0.4s opacity linear;
	}

	.lightbox_content {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1500;
		width: 100%;
		max-width: 80%;
		margin: 0 auto;
		opacity: 0;
		transform: translate(-50%, -50%);
		transition: 0.4s opacity linear;
	}

	.container_lightbox_content {
		padding: 0;
		text-align: center;
		opacity: 0;

		img {
			width: 100%;
			max-width: 100%;
		}
	}

	.lightbox_interaction {
		text-align: center;
	}

	.wrapper {
		position: relative;
		display: inline-block;
		max-width: 340px;
	}

	.previous {
		position: absolute;
		top: 0;
		left: 0;
		padding: $base_size * 0.6 $base_size * 1.2;
		text-transform: uppercase;
		background-color: $purple_dark;
		color: $white;
		cursor: pointer;

		&.button_hidden {
			display: none;
		}
	}

	.image_comment {
		display: block;
		max-width: 100%;
		margin-top: 10px;
		text-transform: uppercase;
		color: $white;
	}

	.next {
		position: absolute;
		top: 0;
		right: 0;
		padding: $base_size * 0.6 $base_size * 1.2;
		text-transform: uppercase;
		background-color: $purple_dark;
		color: $white;
		cursor: pointer;

		// @media (min-width: 640px) {
		// 	bottom: -28px;
		// }

		// @media (min-width: 1024px) {
		// 	bottom: -35px;
		// }

		&.button_hidden {
			display: none;
		}
	}

	.lightbox_x_close {
		display: inline-block;
		margin: 0 auto 10px;
		padding: $base_size * 0.6 $base_size * 1.2;
		text-transform: uppercase;
		background-color: $grey_light;
		color: $white;
		cursor: pointer;
	}
}

@keyframes anim-open {
	0% {
		transform: scale3d(0, 0, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-close {
	0% {
	}
	100% {
		transform: scale3d(0.5, 0.5, 1);
	}
}
