body.page-map {

	h1 {
		text-align: center;
		padding-top: $base_size;
		padding-bottom: $base_size;
	}

	.map {
		padding-bottom: $base_size*2;
	}

	// start map plugin overrides
	#cboxOverlay {
		opacity: 0.3 !important;
	}

	#cboxContent {
		width: auto !important;
		max-width: 400px !important;
	}

	#cboxClose {
		width: 100%;
		background-color: $purple_dark;
	}

	// end map plugin overrides

	.the-map {
		min-height: 200px;

		@media(min-width: $medium) {
			min-height: 400px;
		}

	}

	.visited {
		padding-top: $base_size*2;
	}

	.accordion {

		h4 {
			position: relative;
			margin: 0;
			padding-left: .9375rem;
		    padding-right: .9375rem;
			cursor: pointer;
			color: $purple_dark;
			cursor: pointer;

			span {
				position: absolute;
				top: $base_size*0.8;
				right: .9375rem;
			}
		}

		.accordion-content {
			max-height: 0;
			padding-left: .9375rem;
		    padding-right: .9375rem;
			overflow: hidden;
			background-color: $grey_lightest;
			transition: 
				max-height 0.8s ease-out;

			&.active {
				max-height: 500px;
			}

			p {
				margin: 0;
				padding-top: $base_size;
				padding-bottom: $base_size;
				color: $purple;
			}

		}

	}

	.total {
		padding-bottom: $base_size*3;
	}

}