body.attachment {

	article {
		text-align: center;
	}
    
	.entry-header {
		background-color: transparent;
	}

	.entry-title {
		display: inline-block;
	}

	.entry-attachment {
		margin-bottom: $base_size*6;
	}

	.excerpt {
		margin-top: $base_size*2;
		margin-bottom: $base_size*2;
		text-transform: uppercase;
		font-size: $base_size*2;
	}

	#image-navigation .nav-links {
		@extend .clearfix;

		span:first-child {
			float: left;
		}

		span:last-child {
			float: right;
		}

		span img {
			width: 16px; 
		}

	}

}