body.search {

	.site-content {
		padding-bottom: $base_size*3;
		text-align: center;

		@media (min-width: $medium) {
			padding-bottom: $base_size*6;
		}
	}

	h1 {
		padding-top: $base_size;
		padding-bottom: $base_size;
		text-align: center;
	}

	.found-search-item img {
		max-width: 600px;
	}

	.search-form {

		label {
			display: inline-block;
			width: calc(100% - 70px);

			@media (min-width: $large) {
				width: calc(100% - 90px);
			}
		}

		.search-submit {
			display: inline-block;
			height: 40px;

			@media (min-width: $large) {
				padding: $base_size $base_size*2;
				background-color: $purple;
			}
		}

		.screen-reader-text {
			font-size: $base_font_size*1.4;
		}

	}

	.not-found .term {
		font-weight: 700;
	}

}

body.search-results .found-search-item {
	
	a {
		display: inline-block;
	}

	.post-meta {
		text-align: center;

		span:first-child {
			margin-right: $base_size;
		}
	}

	.post-meta-category {
		display: block;
		margin-top: $base_size*2;
		font-family: $font_pacifico;
		text-transform: capitalize;

		a {
			font-size: $base_font_size*2.4;
		}
	}

	a.post-title {
		display: block;
		text-align: center;

		@media (min-width: $medium) {
			display: inline-block;
			text-align: initial;
		}
	}

	.post-excerpt {
		padding: $base_size 0;

		p {
			margin-bottom: $base_size;
			font-size: $base_font_size*1.4;
		}
	}

	.post-meta-date {
		text-transform: uppercase;
	}

}

body.search-no-results {

	.no-results-message,
	.no-results-message span {
		font-size: $base_font_size*2;
 	}

 	.slider {
		position: relative;
		width: 100%;
		max-width: 62.5rem;
		min-height: 510px;
		margin-top: $base_size*2;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 340px) {
			min-height: 540px;
		}

		@media (min-width: 380px) {
			min-height: 560px;
		}

		@media (min-width: 420px) {
			min-height: 600px;
		}

		@media (min-width: 460px) {
			min-height: 620px;
		}

		@media (min-width: 500px) {
			min-height: 640px;
		}

		@media (min-width: 540px) {
			min-height: 660px;
		}

		@media (min-width: 580px) {
			min-height: 680px;
		}

		@media (min-width: 620px) {
			min-height: 700px;
		}

		@media (min-width: $medium) {
			min-height: 380px;
			margin-top: $base_size*4;
		}

		[class*='slide-'] {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background: #fff no-repeat center center;
			background-size: cover;
			transition: opacity .4s linear;
			transition: z-index 0 linear 0.4s;
			opacity: 0;

			&.active {
				opacity: 1;
				z-index: 1;
			}

			.content-of-slide {
				@extend .clearfix;
				display: inline-block;
				width: 100%;
				background-color: $grey_lightest;

				.col-left,
				.col-right {
					padding: $base_size;

					@media (min-width: $medium) {
						float: left;
						width: 50%;
					}
				}

				h2 {
					margin: 0;
					font-size: 2em;
					text-transform: uppercase;
				}

				p {
					margin: 5px 0;
					font-size: 1.2em;
					font-weight: 300;
				}

				.button.mobile-slider {
					font-size: $base_size;
					text-transform: uppercase;

					@media (min-width: $medium) {
						font-size: $base_size*1.4;
					}
				}
			}

			.post-meta-category {
				display: inline-block;
				margin-bottom: $base_size*0.6;
				font-family: $font_pacifico;
				font-size: $base_font_size*2;
			}

			.post-meta-date {
				display: block;
			}

		}

	}

}




