.post-single {

	figure {
		display: inline-block;
		width: 100% !important;
		max-width: 100%;
		margin: 0;
	}

	.alignleft {
		display: block;
		margin: $base_size auto;
		padding-top: 10px;
		padding-bottom: 10px;

		@media (min-width: $medium) {
			float: left;
			margin-left: 0;
			margin-right: $base_size;
			padding-top: 0;
			padding-bottom: 0;
		}

		img {
			width: 100%;
		}	
	}

	.alignright {
		display: block;
		margin: $base_size auto;
		padding-top: 10px;
		padding-bottom: 10px;

		@media (min-width: $medium) {
			float: right;
			margin-right: 0;
			margin-left: $base_size;
			padding-top: 0;
			padding-bottom: 0;
		}

		img {
			width: 100%;
		}
	}

	.post-meta-single-category {
		padding-top: 30px;
		font-family: $font_pacifico;
		text-align: center;
		text-transform: capitalize;

		a {
			font-size: $base_font_size*2.4;
		}
	}

	.post-title h2 {
		text-align: center;
		text-transform: uppercase;
	}

	.container_custom_post_meta {
		text-align: center;
		font-family: $font_pacifico;
	}

	.post-meta-trip-date,
	.post-meta-trip-duration,
	.post-meta-date {
		margin-left: $base_size;
		margin-right: $base_size;

		span {
			font-weight: 700;
		}

	}

	.post-meta-date {
		display: block;
		margin-top: $base_size;

		@media (min-width: $medium) {
			display: inline;
			margin-top: 0;
		}
	}

	.container_content {
		padding-top: $base_size*3;
	}

	&.post-single-quote .container_content {
		text-align: center;
	}

}
