.gallery-overview {

	.bottom-margin {
		margin-bottom: $base_size*3;
	}

	.three:nth-of-type(3n+4) {
		clear: both;
	}

	.four:nth-of-type(4n+5) {
		clear: both;
	}

	.flag {
		height: 220px;
		// border: 1px solid $grey_light;
	}

	// img {
	// 	height: 280px;
	// }

	// .padding-inner-remove-3:nth-child(3n+1) {
		
	// 	@media(min-width:$medium) {
	// 		padding-right: 0;
	// 	}

	// }

	// .padding-inner-remove-3:nth-child(3n+2) {
		
	// 	@media(min-width:$medium) {
	// 		padding-left: 0;
	// 		padding-right: 0;
	// 	}

	// }

	// .padding-inner-remove-3:nth-child(3n+3) {

	// 	@media(min-width:$medium) {
	// 		padding-left: 0;
	// 	}

	// }

	// .padding-inner-remove-2:nth-child(odd) {
		
	// 	@media(min-width:$medium) {
	// 		padding-right: 0;
	// 	}

	// }

	// .padding-inner-remove-2:nth-child(even) {
		
	// 	@media(min-width:$medium) {
	// 		padding-left: 0;
	// 	}

	// }

}


.gallery-images {
	padding-top: $base_size*2;
	text-align: center;

	img {
		margin: 0.5%;
	}

	.gallery-pagination-top,
	.gallery-pagination-bottom {
		padding-top: $base_size*2;
		padding-bottom: $base_size*2;

		span, a {
			margin-left: $base_size;
			margin-right: $base_size;
			padding-left: $base_size;
			padding-right: $base_size;
			font-size: $base_font_size*2;
		}

		span {
			border-bottom: 1px solid $purple;
		}

		a:hover {
			color: $purple_light;
		}

	}

}