html,
body {
	background-color: rgba(0,0,0,0);
	background-color: transparent;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: $font_oswald;
	font-size: $base_font_size;
	color: $text;

	@media (min-width: $medium) {
		font-size: $base_font_size*1.4;
	}
}

ol,
ul,
li,
p,
a,
span {
	font-size: $base_font_size;

	@media (min-width: $medium) {
		font-size: $base_font_size*1.4;
	}
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_oswald;
}

a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	color: $link;
	cursor: pointer;
	outline: none;
	text-decoration: none;

	&:active,
	&:hover {
		color: lighten($link, 10%);
	}

}

.button {
	display: inline-block;
	margin: 10px 0;
	padding: 10px 20px;
	background-color: $purple;
	border: 1px solid $white;
	border-radius: 5px;
	text-align: center;
	color: $white;
	text-decoration: none;

	&:hover {
		background-color: $purple_dark;
	}
}

img {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

