body.page-map {

	.accordion {

		h4 {
			margin: 0;
			background-color: $grey_light;
			cursor: pointer;
		}

		.accordion-content {
			max-height: 0;
			overflow: hidden;
			transition: 
				max-height 0.8s ease-out;

			&.active {
				max-height: 500px;
			}
		}

	}

}