.post-single {

	figure {
		display: inline-block;
		width: 100% !important;
		max-width: 100%;
		margin: 0;
	}

	.alignleft {
		display: block;

		@media (min-width: $medium) {
			float: left;
			margin-right: $base_size;
		}

		img {
			width: 100%;
		}	
	}

	.alignright {
		display: block;

		@media (min-width: $medium) {
			float: right;
			margin-left: $base_size;
		}

		img {
			width: 100%;
		}
	}

	.post-meta-single-category {
		font-family: $font_pacifico;
		text-align: center;
		text-transform: capitalize;

		a {
			font-size: $base_font_size*2.4;
		}
	}

	.post-title h2 {
		text-align: center;
		text-transform: uppercase;
	}

	.container-content {
		// font-family: 'Open Sans, Arial, Helvetica, sans-serif';
	}

}
