// LAYOUT

// 0px to 640px
$small: 640px;

// 641 px to 1024px
$medium: 1024px;

// 1025px to 1440px
$large: 1440px;


// COLORS

$black: #000000;

$blue: #3297C1;

$link: blue;

$purple: #532742;

$text: #222222;

$white: #ffffff;

// FONT SIZE

$base_font_size: 10px;




